<div class="overflow-scroll" style="max-height: 90vh">
    <p style="white-space: pre-wrap;">{{ text }}</p>
    {% if img != None %}
        <img src="{{ url_for('static', filename=img) }}" class="img-fluid">
    {% endif %}
</div>
<div class="container row">

    {% for next_paragraph_id, decision in decisions.items() %}
        <div class="container row">
            <button type="submit" class="btn btn-outline-primary m-1" id="change-button" hx-target="#gamebook-content"
                    hx-swap="innerHTML" hx-post="/paragraph" hx-vals='{"paragraph-id": "{{ next_paragraph_id }}"}'
                    hx-include="#cheatSwitch">
                {{ decision }}
            </button>
        </div>
    {% endfor %}

</div>
{% if update_stats %}
<div class="container row" hidden="hidden">
    <span hx-trigger="load" hx-target="#player-character" hx-get="/character" hx-swap="innerHTML"></span>
</div>
{% endif %}