{% extends "bootstrap/base.html" %}
{% block title %}Flask Gamebook{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="https://unpkg.com/htmx.org@1.6.1"></script>
{% endblock %}


{% block content %}
    <div class="row">
        <div  class="col-2 hidden-sm">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title m-1">Listina šedých Mlh</h5>
                    <ul class="list-group list-group-flush" id="player-character">
                        {%  include 'player_character.html' %}
                    </ul>
                    <div class="form-check form-switch m-1">
                        <input class="form-check-input" type="checkbox" id="cheatSwitch" value="1" name="cheats">
                        <label class="form-check-label" for="cheatSwitch">Cheats</label>
                    </div>
                </div>
            </div>
        </div>

        <div id="gamebook-content" class="col">
            {% include 'gamebook_paragraph.html' %}
        </div>

    </div>
{% endblock %}
