<li class="list-group-item">Kondice: {{ hp|default("12") }}</li>
<li class="list-group-item">Tvé jméno: {{ name|default("-") }}</li>
<li class="list-group-item">Jméno princezny: {{ princess|default("-") }}</li>
<li class="list-group-item">Předměty: {{ inventory|default("-") }}</li>
<li class="list-group-item">Poznámky: {{ notes|default("-") }}</li>